/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin-top: 150px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* START EDITING HERE */

body {
	background-color: black;
	background-color: #7f7fff;
	background: linear-gradient(to right, #00001f 0%, black 20% 80%, #00001f 100%);
	margin-top: 0px;
}

@font-face{
	font-family: 'Nimbus Sans';
	src: url('fonts/nimbus-sans-l/NimbusSanL-Reg.otf');
}

@font-face{
	font-family: 'Nimbus Sans Bold';
	src: url('fonts/nimbus-sans-l/NimbusSanL-Bol.otf');
}

@font-face{
	font-family: 'IBM VGA 8x16';
	src: url('fonts/ibm-vga-8x16/WebPlus_IBM_VGA_8x16.woff')
}

header{
	width: 48.7%;
	height: 80px;
	background: linear-gradient(to right, black 0%, #00001f 20% 80%, black 100%);
	border-top: 4px solid #00007f;
	border-left: 4px solid #00005f;
	border-right: 4px solid #00005f;
	border-bottom: 4px solid #00003f;
	margin: 0 auto;
	margin-top: 0;
	position: sticky;
	top: 0;
	padding-bottom: 10px;
}

#homepageContent{
	width: 48.7%;
	background: -webkit-gradient(linear, left top, left bottom, from(#00001f), to(#00003f));
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	border-top: 4px solid #00007f;
	border-left: 4px solid #00005f;
	border-right: 4px solid #00005f;
	border-bottom: 4px solid #00003f;
	margin-bottom: 0px;
	padding-bottom: 20px;
}

footer{
	font-family: "IBM VGA 8x16";
	text-decoration: none;
	font-size: 16px;
	width: 45.4%;
	height: 100%;
	background: linear-gradient(to right, #00001f 0%, black 20% 80%, #00001f 100%);
	color: #7f7fff;
	border-top: 4px solid #00007f;
	border-left: 4px solid #00005f;
	border-right: 4px solid #00005f;
	border-bottom: 4px solid #00003f;
	margin-top: -100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-bottom: 20px;
	position: sticky;
    top: 800px;
	padding-left: 31px;
	padding-right: 20px;
	padding-top: 25px;
}

nav ul li{
	display: inline-block;
	width: 17%;
	float: center;
	text-align: center;
	margin: 0 auto;
	margin-top: 0;
	padding: 0px;
	padding-top: 8px;
	padding-left: 12px;
}
	
h1{
	font-size: 12px;
	font-family: "Nimbus Sans Bold", sans-serif;
	font-weight: normal;
	color: #d8d800;
	text-align: center;
	letter-spacing: 11px;
}

h2, h6{
	font-family: "Nimbus Sans Bold";
	color: #3f3fff;
	font-size: 24px;
	padding-top: 25px;
	text-shadow: 2px 2px 0px #00005f;
	padding-left: 28px;
	padding-right: 28px;
	letter-spacing: -1px;
}

h3{
	font-family: "Nimbus Sans";
	text-transform: lowercase;
	color: #ffff7f;
	font-size: 36px;
	padding-left: 28px;
	padding-top: 20px;
	letter-spacing: -2px;
}

h4, h5{
	font-family: "TikTok Sans";
	font-weight: 900;
	font-stretch: expanded;
	text-transform: uppercase;
	color: #7f7fff;
	font-size: 24px;
	padding-left: 28px;
	padding-bottom: 5px;
	padding-top: 12px;
	padding-right: 28px;
}

h6{
	padding-bottom: 28px;
}
	
p{
	font-family: 'TikTok Sans';
	font-weight: 600;
	font-stretch: semi-condensed;
	color: white;
	font-size: 18px;
	padding-left: 28px;
	padding-right: 28px;
	padding-bottom: 25px;
	letter-spacing: .5px;
	line-height: 30px;
}

.yah{
	list-style-type: none;
	font-family: "Nimbus Sans Bold";
	color: #ffff7f;
	text-decoration: none;
	font-size: 24px;
	transition: color 0.5s ease-in-out;
	letter-spacing: -1px;
}

.yah:hover{
	color: white;
	transition: color 0.5s ease-in-out;
	letter-spacing: -1px;
}

.unselect{
	list-style-type: none;
	font-family: "Nimbus Sans";
	color: #7f7fff;
	animation-name: colorshift;
	animation-duration:5s;
	animation-iteration-count: infinite;
	text-decoration: none;
	font-size: 24px;
	transition: color 0.5s ease-in-out;
}
	
.unselect:hover{
	color: #ffff7f;
	font-family: "Nimbus Sans Bold";
	transition: color 0.5s ease-in-out;
	letter-spacing: -1px;
}

.hover-text{
	color: white;
	transition: color 0.5s ease-in-out; 
}

.hover-text:hover{
	color: #7f7fff;
	animation-name: colorshift;
	animation-duration:5s;
	animation-iteration-count: infinite;
}

.hover-header{
	color: #7f7fff;
	transition: color 0.5s ease-in-out; 
	text-decoration: none;
}

.hover-header:hover{
	color: #ffff7f;
	animation-name: colorshift;
	animation-duration:5s;
	animation-iteration-count: infinite;
}

 @keyframes colorshift {
from {filter: hue-rotate(0deg);}
to {filter: hue-rotate(360deg);}
} 

li {
	font-family: "IBM VGA 8x16";
	text-decoration: none;
	font-size: 16px;
	color: white;
	padding-left: 28px;
	list-style-type: none;
}

input {
	font-family: "IBM VGA 8x16";
	font-size: 16px;
	text-decoration: none;
	color: #00ff00;
	text-shadow: 1px 1px 0px #003f00;
	background-color: black;
	border: 2px solid #00ff00;
	padding: 5px;
}

input:focus, input:hover {
	color: #00ff00;
	background-color: #003f00;
	border: 2px solid #00ff00;
	padding: 5px;
}

#textbox {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: -20px;
}

#send {
	display: block;
	margin: 0 auto;
	font-family: "TikTok Sans";
	font-weight: 900;
	font-stretch: expanded;
	text-transform: uppercase;
	font-size: 24px;
}

textarea {
	font-family: "IBM VGA 8x16";
	font-size: 16px;
	text-decoration: none;
	color: #00ff00;
	text-shadow: 1px 1px 0px #003f00;
	margin-top: 0px;
	background: black;
	border: 2px solid #00ff00;
	display: block;
	margin: 0 auto;
	padding: 5px;
	resize: none;
	margin-bottom: 20px;
	margin-top: -20px;
}

textarea:focus, textarea:hover {
	background-color: #003f00;
}

img.small {
width: 125px;
height: auto;
padding-left: 28px;
padding-right: 28px;
padding-top: 15px;
padding-bottom: 15px;
}

img.medium {
padding-top: 10px;
}

img.big {
width: 400px;
height: auto;
padding-left: 28px;
padding-right: 28px;
padding-top: 15px;
padding-bottom: 15px;
}

img.seal {
width: 400px;
height: auto;
padding-left: 28px;
padding-right: 28px;
padding-top: 15px;
padding-bottom: 15px;
margin: 0 auto;
margin-top: 20px;
margin-bottom: -20px;
display: block;
}

figcaption {
	font-family: "IBM VGA 8x16";
	font-size: 16px;
	text-decoration: none;
	color: white;
}

.contentBox {
	width: 100%;
	clear: both;
}
	
audio {
	width: 72%;
	padding-top: 4px;
	border-radius: 50px;
	background: -webkit-gradient(linear, left top, left bottom, from(#0000ff), to(#00ff00));
}

/* Congrats! You've reached the end of this css file!*/